<div class="area-path">
  <div class="area-path-info">
    <label for="area-path" class="area-path-label"
      ><i class="fa-solid fa-layer-group mr-1" style="color: #666463"></i>{{ areaPath().area }}</label
    >
    <div class="area-path-metrics">
      <span class="area-path-value total"
        >Total: <strong>{{ areaPath().total | number }}</strong></span
      >
      <span class="area-path-value open"
        >Not Started: <strong>{{ areaPath().notStarted | number }}</strong></span
      >
      <span class="area-path-value in-progress"
        >In Progress: <strong>{{ areaPath().inProgress | number }}</strong></span
      >
      <span class="area-path-value closed"
        >Closed: <strong>{{ areaPath().closed | number }}</strong></span
      >
    </div>
  </div>
  <div
    class="area-path-gauge"
    echarts
    [options]="progressGaugeOptions()"
    [initOpts]="{ renderer: 'svg' }"
  ></div>
</div>
