<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '40rem', backgroundColor: 'var(--page-bg)' }"
  (onHide)="onClosePopup()"
  (onShow)="onOpenPopup()"
  [dismissableMask]="true"
  [resizable]="false"
  [draggable]="false"
  [focusOnShow]="false"
>
  <ng-template pTemplate="header">
    <div>
      <h4 class="text-start text-2xl font-semibold m-0">
        {{ isEditMode() ? 'Update' : 'Add New' }} User
      </h4>
      <p class="text-center text-sm text-(--charcoal-600) m-0 mx-auto">
        {{ isEditMode() ? 'Update' : 'Create a new' }} user record in SheenTrack 360°.
      </p>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <div class="flex gap-4 flex-row">
        <div class="flex-1">
          <label class="input-label" for="firstName">First Name</label>
          <input class="field" id="firstName" formControlName="firstName" placeholder="Layla" />
          @if (getFieldErrorMessage('firstName') !== null) {
            <p-message severity="error" size="small" class="mt-1">
              {{ getFieldErrorMessage('firstName') }}
            </p-message>
          }
        </div>
        <div class="flex-1">
          <label class="input-label" for="lastName">Last Name</label>
          <input class="field" id="lastName" formControlName="lastName" placeholder="Johnson" />
          @if (getFieldErrorMessage('lastName') !== null) {
            <p-message severity="error" size="small" class="mt-1">
              {{ getFieldErrorMessage('lastName') }}
            </p-message>
          }
        </div>
      </div>
      <div class="flex-1">
        <label class="input-label" for="email">Email</label>
        <input
          class="field"
          id="email"
          formControlName="email"
          placeholder="layla.johnson@example.com"
        />
        @if (getFieldErrorMessage('email') !== null) {
          <p-message severity="error" size="small" class="mt-1">
            {{ getFieldErrorMessage('email') }}
          </p-message>
        }
      </div>
      <div class="flex-1">
        <label class="input-label" for="title">Title</label>
        <input class="field" id="title" formControlName="title" placeholder="Software Engineer" />
        @if (getFieldErrorMessage('title') !== null) {
          <p-message severity="error" size="small" class="mt-1">
            {{ getFieldErrorMessage('title') }}
          </p-message>
        }
      </div>
      <div class="flex-1">
        <label class="input-label" for="role">Role</label>
        <p-select
          inputId="role"
          formControlName="role"
          [options]="roles()"
          [loading]="isRolesLoading()"
          placeholder="Select a role"
          [fluid]="true"
        />
        @if (getFieldErrorMessage('role') !== null) {
          <p-message severity="error" size="small" class="mt-1">
            {{ getFieldErrorMessage('role') }}
          </p-message>
        }
      </div>
      @if (!isEditMode()) {
        <div class="flex flex-col gap-1">
          <label class="input-label" for="password">Password</label>
          <p-password
            formControlName="password"
            [toggleMask]="true"
            [invalid]="getFieldErrorMessage('password') !== null"
            [feedback]="false"
            autocomplete="off"
            placeholder="••••••••••"
            fluid
          />
          <div class="password-requirements">
            @for (req of requirements; track req.id) {
              <span class="password-requirement-chip" [class.met]="isRequirementMet(req)">
                <i [class]="isRequirementMet(req) ? 'pi pi-check' : 'pi pi-times'"></i>
                {{ req.label }}
              </span>
            }
          </div>
          @if (getFieldErrorMessage('password') !== null) {
            <p-message severity="error" size="small">{{
              getFieldErrorMessage('password')
            }}</p-message>
          }
        </div>
        <div class="flex flex-col gap-1">
          <label class="input-label" for="confirmPassword">Confirm Password</label>
          <p-password
            formControlName="confirmPassword"
            [invalid]="getFieldErrorMessage('confirmPassword') !== null"
            [feedback]="false"
            autocomplete="off"
            placeholder="••••••••••"
            fluid
          />
          @if (getFieldErrorMessage('confirmPassword') !== null) {
            <p-message severity="error" size="small">{{
              getFieldErrorMessage('confirmPassword')
            }}</p-message>
          }
        </div>
      }
      <div class="flex flex-row justify-between items-center gap-1 rounded-xl px-2 py-4 w-full">
        <div>
          <h2 for="status" class="font-bold text-black">ِAccount Status</h2>
          <p class="text-label-color">Define if user is allowed to login</p>
        </div>
        <div class="flex items-center gap-2">
          <span
            class="text-md text-gray-500 font-semibold mr-2"
            [class.text-red-500]="!isUserActive()"
            >Inactive</span
          >
          <p-toggleswitch formControlName="isActive" size="small" />
          <span
            class="text-md text-gray-500 font-semibold ml-2"
            [class.text-primary]="isUserActive()"
            >Active</span
          >
        </div>
      </div>
      <div class="flex justify-end gap-3 mt-4">
        <button type="button" class="btn btn-secondary" (click)="onClosePopup()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="actionLoading()">
          @if (actionLoading()) {
            <i class="fa-solid fa-circle-notch fa-spin" style="color: #ffffff"></i>
          }
          {{ isEditMode() ? 'Update User' : 'Create User' }}
        </button>
      </div>
    </form>
  </ng-template>
</p-dialog>
