<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '40rem', backgroundColor: 'var(--page-bg)' }"
  (onHide)="onClosePopup()"
  (onShow)="onOpenPopup()"
  [dismissableMask]="true"
  [resizable]="false"
  [draggable]="false"
  [focusOnShow]="false"
>
  <ng-template pTemplate="header">
    <div>
      <h4 class="text-start text-2xl font-semibold m-0">
        {{ isEditMode() ? 'Update' : 'Add New' }} User
      </h4>
      <p class="text-center text-sm text-(--charcoal-600) m-0 mx-auto">
        {{ isEditMode() ? 'Update' : 'Create a new' }} user record in SheenTrack 360°.
      </p>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <div class="flex gap-4 flex-row">
        <div class="flex-1">
          <label class="input-label" for="firstName">First Name</label>
          <input class="field" id="firstName" formControlName="firstName" placeholder="Layla" />
          @if (getFieldErrorMessage('firstName') !== null) {
            <p-message severity="error" size="small" class="mt-1">
              {{ getFieldErrorMessage('firstName') }}
            </p-message>
          }
        </div>
        <div class="flex-1">
          <label class="input-label" for="lastName">Last Name</label>
          <input class="field" id="lastName" formControlName="lastName" placeholder="Johnson" />
          @if (getFieldErrorMessage('lastName') !== null) {
            <p-message severity="error" size="small" class="mt-1">
              {{ getFieldErrorMessage('lastName') }}
            </p-message>
          }
        </div>
      </div>
      <div>
        <label class="input-label" for="email">Email</label>
        <input
          class="field"
          id="email"
          formControlName="email"
          placeholder="layla.johnson@example.com"
        />
        @if (getFieldErrorMessage('email') !== null) {
          <p-message severity="error" size="small" class="mt-1">
            {{ getFieldErrorMessage('email') }}
          </p-message>
        }
      </div>
      <div>
        <label class="input-label" for="email">Job Title</label>

        <p-inputgroup>
          <p-inputgroup-addon>
            <p-select
              [fluid]="true"
              [options]="seniorities"
              optionLabel="label"
              optionValue="value"
              appendTo="body"
              inputId="department"
              formControlName="seniority"
              scrollHeight="400px"
              placeholder=""
              [style]="{ width: '10rem', border: 'none' }"
              [invalid]="getFieldErrorMessage('department') !== null"
            >
            </p-select>
          </p-inputgroup-addon>
          <input
            pInputText
            id="jobTitle"
            formControlName="jobTitle"
            placeholder="Software Engineer"
          />
        </p-inputgroup>
        @if (getFieldErrorMessage('jobTitle') !== null) {
          <p-message severity="error" size="small" class="mt-1">
            {{ getFieldErrorMessage('jobTitle') }}
          </p-message>
        }
      </div>
      <div class="flex gap-4 flex-row">
        <div class="flex-1">
          <label class="input-label" for="department">Department</label>
          <p-select
            [fluid]="true"
            [options]="departments"
            optionLabel="label"
            optionValue="value"
            appendTo="body"
            formControlName="department"
            inputId="department"
            placeholder="Select Department"
            style="background-color: var(--page-bg)"
            [invalid]="getFieldErrorMessage('department') !== null"
          >
          </p-select>
          @if (getFieldErrorMessage('department') !== null) {
            <p-message severity="error" size="small" class="mt-1">
              {{ getFieldErrorMessage('department') }}
            </p-message>
          }
        </div>
        <div class="flex-1">
          <label class="input-label" for="squadName">Squad Name</label>
          <p-select
            [fluid]="true"
            [options]="squads"
            appendTo="body"
            formControlName="squadName"
            inputId="squadName"
            placeholder="Select Squad"
            style="background-color: var(--page-bg)"
            [invalid]="getFieldErrorMessage('squadName') !== null"
          >
          </p-select>
          @if (getFieldErrorMessage('squadName') !== null) {
            <p-message severity="error" size="small" class="mt-1">
              {{ getFieldErrorMessage('squadName') }}
            </p-message>
          }
        </div>
      </div>
      <div class="flex-1">
        <label class="input-label" for="teamleadId">Team Lead</label>
        <p-select
          [fluid]="true"
          [options]="teamLeads()"
          optionLabel="fullName"
          optionValue="userKey"
          [filter]="true"
          filterBy="fullName"
          appendTo="body"
          formControlName="teamleadId"
          inputId="teamleadId"
          [loading]="isTeamLeadLoading()"
          [placeholder]="isTeamLeadLoading() ? 'Loading Users...' : 'Select Team Lead'"
          style="background-color: var(--page-bg)"
          [invalid]="getFieldErrorMessage('teamleadId') !== null"
        >
        </p-select>
        @if (getFieldErrorMessage('teamleadId') !== null) {
          <p-message severity="error" size="small" class="mt-1">
            {{ getFieldErrorMessage('teamleadId') }}
          </p-message>
        }
      </div>

      <div class="flex justify-end gap-3 mt-4">
        <button type="button" class="btn btn-secondary" (click)="onClosePopup()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="actionLoading()">
          @if (actionLoading()) {
            <i class="fa-solid fa-circle-notch fa-spin" style="color: #ffffff"></i>
          }
          {{ isEditMode() ? 'Update User' : 'Create User' }}
        </button>
      </div>
    </form>
  </ng-template>
</p-dialog>
