<p-table
  #azureUsersTable
  [value]="users()"
  [paginator]="true"
  [(first)]="first"
  [rows]="10"
  [tableStyle]="{
    'min-width': '50rem',
    'border-radius': '8px 8px 0 0',
    border: '1px solid #ebe9e7',
    'border-bottom': 'none',
    'box-shadow': '0px 4px 4px rgba(0, 0, 0, 1)',
  }"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
  [rowsPerPageOptions]="[5, 10, 20]"
  [sortOrder]="-1"
>
  <ng-template #header>
    <tr class="">
      @for (col of columns; track col) {
        @if (col.field === 'Actions') {
          <th [style.width]="col.width">{{ col.header }}</th>
        } @else {
          <th pSortableColumn="{{ col.field }}" [style.width]="col.width">
            <div class="flex items-center gap-1">
              <span class="mono-small">{{ col.header }}</span>
              <p-sortIcon field="{{ col.field }}" />
            </div>
          </th>
        }
      }
    </tr>
  </ng-template>
  <ng-template #body let-user let-rowIndex="rowIndex">
    <tr>
      <td pFrozenColumn>
        <div class="flex items-center gap-3">
          <img
            [src]="
              user.avatarUrl || 'https://api.dicebear.com/9.x/personas/svg?seed=' + user.userKey
            "
            alt="{{ user.displayName }}'s avatar"
            class="h-8 w-8 rounded-full object-cover"
            (error)="onImageError($event, user.userKey)"
          />
          <span>{{ fixDisplayName(user.displayName) }}</span>
        </div>
      </td>
      <td>{{ user.email }}</td>
      <td><app-hours-badge [hours]="user.totalHours" [size]="'sm'"></app-hours-badge></td>
      <td>
        <goal-status-badge [loggedHours]="user.totalHours" [targetHours]="targetHours$()" />
      </td>
      <td>
        {{ user.projectsCount }}
        <span class="mono-small text-gray-400" style="font-size: 12px">
          {{ user.projectsCount === 1 ? 'project' : 'projects' }}</span
        >
      </td>
      <td>
        {{ user.workItemsCount }}
        <span class="mono-small text-gray-400" style="font-size: 12px">
          {{ user.workItemsCount === 1 ? 'item' : 'items' }}</span
        >
      </td>
      <td style="text-align: center">
        <button type="button" class="btn btn-secondary btn-sm" (click)="showDetails(user.userKey)">
          Details
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="columns.length + 1">
        <div class="flex md:justify-center items-center p-10">
          <p class="block mono-metric" style="font-weight: 400">
            No users match the current filters.
          </p>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
