<div>
  @if (isLoading()) {
    <div class="flex justify-center items-center py-20 min-h-[300px]">
      <i class="pi pi-spin pi-spinner text-4xl text-primary"></i>
    </div>
  } @else if (user() && summary()) {
    <div class="flex flex-col gap-6 w-full mx-auto">
      <div class="flex items-center gap-2 text-sm text-gray-500 font-medium">
        <a routerLink="/users" class="cursor-pointer hover:text-gray-800 hover:underline">Users</a>
        <i class="pi pi-angle-right text-xs"></i>
        <span class="text-gray-800">{{ user()!.name }}</span>
      </div>
      <app-user-card [user]="user()!"></app-user-card>
      <app-user-summary [summary]="summary()!"></app-user-summary>
      <app-work-items-table [groupedItems]="workItems()"></app-work-items-table>
    </div>
  } @else{
    <div class="flex justify-center items-center py-20 min-h-[300px]">
      <span class="text-gray-500 text-lg">There seems to be an error.Try again later.</span>
    </div>
  }
</div>
