<div>
  @if (isAzureLoading()) {
    <app-azure-users-skeleton />
  } @else if (isError() === false) {
    <div class="flex flex-col gap-6 w-full mx-auto">
      <div class="flex items-center gap-2 text-sm text-gray-500 font-medium">
        <a
          [routerLink]="['/users', breadcrumbText() === 'Azure Users' ? 'azure' : 'system']"
          class="cursor-pointer hover:text-gray-800 hover:underline"
        >
          {{ breadcrumbText() }}
        </a>
        <i class="pi pi-angle-right text-xs"></i>
        <span class="text-gray-800">{{ user()?.name }}</span>
      </div>

        <app-user-card
          [user]="user()!"
          [isSearchingForAzureUser]="isSearchingForMatchingAzureUser()"
          [foundAzureUserEmail]="foundAzureUserEmail()"
          [showLinkSystemToAzureButton]="showLinkSystemToAzureButton()"
          [linkAzureUser]="linkAzureUser.bind(this)"
          [isAzureConnectedToSystemUser]="isAzureConnectedToSystemUser()"
          [systemUserId]="systemUser()?.id"
          [deleteUser]="deleteUser.bind(this)"
          [systemUser]="systemUser()"
        ></app-user-card>


      <app-tabbar
        [summary]="summary()"
        [systemUser]="systemUser()"
        [workItems]="workItems()"
        [achievements]="achievements()"
        [isAchievementsLoading]="isAchievementsLoading()"
        [disableAzureTabs]="disableAzureTabs()"
      ></app-tabbar>
    </div>
  } @else {
    <div class="flex justify-center items-center py-20 min-h-75">
      <span class="text-gray-500 text-lg">There seems to be an error. Try again later.</span>
    </div>
  }
</div>


