<div class="area-path">
  <div class="area-path-info">
    <label for="task-type" class="area-path-label"
      ><i class="fa-solid fa-tag mr-1" style="color: #666463"></i>{{ taskType().taskType }}</label
    >
    <div class="area-path-metrics">
      <span class="area-path-value total"
        >Total: <strong>{{ taskType().total }}</strong></span
      >
      <span class="area-path-value open"
        >Not Started: <strong>{{ taskType().notStarted }}</strong></span
      >
      <span class="area-path-value in-progress"
        >In Progress: <strong>{{ taskType().inProgress }}</strong></span
      >
      <span class="area-path-value closed"
        >Closed: <strong>{{ taskType().closed }}</strong></span
      >
    </div>
  </div>
  <div
    class="area-path-gauge"
    echarts
    [options]="progressGaugeOptions()"
    [initOpts]="{ renderer: 'svg' }"
  ></div>
</div>
