@if (loading()) {
  <app-system-users-skeleton></app-system-users-skeleton>
} @else {
  <div class="card w-full m-0 mb-6">
    <form [formGroup]="usersFilterForm" class="w-full">
      <div class="flex flex-col md:flex-row gap-4 items-center w-full">
        <!-- Search Field (50% space on md and up) -->
        <div class="search-field flex-1">
          <input
            type="text"
            placeholder="Name or email…"
            class="field"
            formControlName="searchTerm"
          />
        </div>

        <!-- Actions Group (50% space on md and up) -->
        <div class="flex items-center gap-3">
          <div class="">
            <p-select
              [fluid]="true"
              [options]="departments"
              formControlName="department"
              [showClear]="true"
              placeholder="All Departments"
            />
          </div>
          <div class="">
            <p-select
              [fluid]="true"
              [options]="departments"
              formControlName="squad"
              [showClear]="true"
              placeholder="All Squads"
            />
          </div>
          <div class="">
            <p-select
              [fluid]="true"
              [options]="userTypes"
              formControlName="userType"
              [showClear]="true"
              placeholder="All Users"
            />
          </div>
          <button
            type="button"
            class="btn btn-primary whitespace-nowrap shrink-0"
            (click)="showUserPopup()"
          >
            <i class="pi pi-plus"></i> Add User
          </button>
          <button
            type="button"
            label="Toggle"
            (click)="menu.toggle($event)"
            class="btn btn-secondary shrink-0"
            style="min-width: 2rem; padding: 0.75rem 0.5rem"
          >
            <i class="pi pi-ellipsis-v"></i>
          </button>
          <p-tieredmenu #menu [model]="items" [popup]="true" />
        </div>
      </div>
    </form>
  </div>
  <app-system-users-table [users]="users()"> </app-system-users-table>

  @if (userDialogVisible()) {
    <app-user-form-dialog
      (outputVisibleSignal)="onDialogVisibleChange($event)"
      [inputVisibleSignal]="userDialogVisible()"
    ></app-user-form-dialog>
  }
}
